

/********* Nav Bar CSS *********/
#navField {
    background-color: #d2f3cb;
}

#homeLink{
    font-family: 'Josefin Sans', sans-serif;
    
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
}
/********* END Nav Bar CSS *********/



/********* Home Page CSS *********/
#homeDiv {
    padding: 88px;

}

#styleA {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 4px;
    text-decoration-color: rgb(245, 251, 155);
}

.pageTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 50px;  
    color: white;
    text-shadow: 4px 4px #d987ee;
}

.dashBlurb {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    /* padding: 25px;   */
}

/********* END Home Page CSS *********/



/********* Gradients for Create Page Backgrounds (Each page unique) *********/
.gradient1 {
    background-image: linear-gradient(#f1f0b2, #d987ee);
}

.gradient2 {
    background-image: linear-gradient(#ccf3d8, #99e5f7, #d987ee);
}

.gradient3 {
    background-image: linear-gradient(#f7ffb3, #aefff1, #ffe59d);
}
/********* END GRADIENTS *********/



/********* General Create Pages CSS *********/
#fullContentStyling{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

label {
    display: none;
}

#formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex direction could be good and define that as ROW. 
    keep in mind a sense of direction, what goes first in that row */
}

#title, #name {
    border: 2px solid rgb(5, 5, 5);
} 

#textAreaBody {
    width: 100%;
    height: 250px;
    padding: 14px 20px;
    /* box-sizing: border-box; */
    border: 2px solid rgb(5, 5, 5);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

#buttonPlacement {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 25px 50px 60px 50px; */

}
.btn {
    border: 2px solid rgb(11, 14, 12);
    text-decoration: bold;
}

.card-body {
    border: 2px solid rgb(5, 5, 5);
}

/********* END General Create Pages CSS *********/



/********* Carousel Word Bank CSS *********/
.carousel .carousel-item {
    height: 250px;
    width: 100%;
}
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 200px;
}

#wordBankCarousel {
    margin-bottom:  100px;
}

/********* END Carousel Word Bank CSS *********/



/********* Positioning Images CSS *********/
/* * {
    box-sizing: border-box;
} */
.column {
    float: none;
    width: 25%;
    padding: 5px;
  }

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* some scratch ideas for listing images in a row */
  /* ul {
    list-style:none;
  }
  
  ul li {
    float:left;
  } */

  /********* END Positioning Images CSS *********/



  /********* Word Bank (fixed) CSS *********/

/* #centerWordBankTitle {
    text-align: center;
}

#centerWordBankWords {
    text-align: center;
} */
 
/********* END Word Bank (fixed) CSS *********/



/* **************** */
/* BRIAN DA CSS LORD */
/* form.form-test {
    background-color: red;
}

label {
    background-color: blue;
}

input {
    border-radius: 10px;
} */
/* **************** */
