
.houseFont {
    font-family: 'Josefin Sans', sans-serif;
}

/********* Nav Bar CSS *********/
#navField {
    background-color: #d2f3cb;
}

#homeLink{
    font-family: 'Josefin Sans', sans-serif;
    
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
}
/********* END Nav Bar CSS *********/



/********* Home Page CSS *********/
#homeDiv {
    padding: 88px;

}

#styleA {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 4px;
    text-decoration-color: rgb(245, 251, 155);
}

.pageTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 50px;  
    color: rgb(3, 3, 3);
    /* text-shadow: 5px 5px #d987ee; */
}

.homePageTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 50px;  
    color: white;
    text-shadow: 5px 5px #d987ee;
}

.dashBlurb {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    /* padding: 25px;   */
}

/********* END Home Page CSS *********/



/********* Profile Page CSS *********/
#profilePageBox {
    text-align: center;
    padding: 70px;
}

.profilePageTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 50px;  
    color: white;
    text-shadow: 2px 2px #d987ee;
}

/********* END Profile Page CSS *********/



/********* Poems Index  CSS *********/
#poemsIndexFullContentStyling {
    display: flex;
    align-items: center;
    justify-content: center; 
    /* padding: 20px;  */
    /* margin-top: 10px; */
    margin-bottom: 50px; 
}

#poemsIndexBox {
    display: grid;
    align-items: center;
    justify-content: center; 
    margin: 10px;
    text-align: center;
    padding: 160px;
}

#poemsIndexCards {
    display: flex;
    margin: 10px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 4px;
    margin: 10px;
}

/********* END Poems Index  CSS *********/




/********* Poem Delete Page  CSS *********/
#buttonDiv {
    display: flex;
}

#styleDelete {
        margin-left: 100px;
        text-decoration-line: underline;
        text-decoration-thickness: 5px;
        text-underline-offset: 4px;
        text-decoration-color: rgb(173, 244, 164);

}

#deletePoemFullContentStyling {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 700px; 
}

/********* END Poem Delete Page  CSS *********/
#poemEditFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    /* flex direction could be good and define that as ROW. 
    keep in mind a sense of direction, what goes first in that row */
}
/********* Create Index CSS *********/
#createIndexFullContentStyling {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    margin-top: 300px;
    margin-bottom: 800px;
}

#createCardsContainer {
    display: flex;
    /* margin-inline-start: 10px; */
    margin: 10px;
}

#createCards {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 4px;
    margin: 10px;
}

.card-body {
    border: 0px solid rgb(5, 5, 5);
    border-radius: 4px;
}

.card-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}
.card-subtitle {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.card-text {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* .spaceLinks {
     padding: 20px;
} */
/********* END Create Index CSS *********/


/********* Gradients for Create Page Backgrounds (Each page unique) *********/
/*  */
.gradient1 {
    background-image: linear-gradient(#f1f0b2, #d987ee);
}
/* ANIMALS PROMPT */
.gradient2 {
    background-image: linear-gradient(#89f8aa, #ffd4b0, #d987ee);
}
/* TOUCH, TAP, PAT PROMPT */
.gradient9 {
    background-image: linear-gradient(#e4c7ff, #ff9497, #fff781);
}
/* FREE WRITE PROMPT */
.gradient10 {
    background-image: linear-gradient(#fffaf6, #e3fea3, #a0b1ff);
}
/* A DAY AT THE BEACH PROMPT */
.gradient3 {
    background-image: linear-gradient(#f7ffb3, #aefff1, #ffe59d);
}
/* CREATE INDEX */
.gradient4 {
    background-image: linear-gradient(#a8f9c0, #fff766, #ffe59d);
}
/* PROFILE PAGE */
.gradient5 {
    background-image: linear-gradient(#b0b7f4, #aefff1, #fba1a1);
}
/* POEMS INDEX */
.gradient6 {
    background-image: linear-gradient(#adfe94, #d3b0f4, #00fff2);
}
/* POEM DETAIL */
.gradient7 {
    background-image: linear-gradient(#f4fbb3, #bbf9d7, #5953f9);
}
/* POEM UPDATE */
.gradient8 {
    background-image: linear-gradient(#f8ffce, #ffa2f6, #a2c0ff);
}
/********* END GRADIENTS *********/



/********* General Create Pages CSS *********/
#fullContentStyling{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

label {
    display: none;
}

#formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    /* flex direction could be good and define that as ROW. 
    keep in mind a sense of direction, what goes first in that row */
}

#title, #name {
    border: 2px solid rgb(5, 5, 5);
} 

#textAreaBody {
    width: 100%;
    height: 250px;
    padding: 14px 20px;
    /* box-sizing: border-box; */
    border: 2px solid rgb(5, 5, 5);
    border-radius: 4px;
    background-color: white;
    resize: none;
}

#buttonPlacement {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 25px 50px 60px 50px; */

}
.btn {
    border: 2px solid rgb(11, 14, 12);
    text-decoration: bold;
}

.card-body {
    border: 2px solid rgb(5, 5, 5);
}

/********* END General Create Pages CSS *********/



/********* Carousel Word Bank CSS *********/
.carousel .carousel-item {
    height: 250px;
    width: 100%;
}
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 200px;
}

#wordBankCarousel {
    margin-bottom:  100px;
}

/********* END Carousel Word Bank CSS *********/



/********* Positioning Images CSS *********/
/* * {
    box-sizing: border-box;
} */
.column {
    float: none;
    width: 25%;
    padding: 5px;
  }

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* some scratch ideas for listing images in a row */
  /* ul {
    list-style:none;
  }
  
  ul li {
    float:left;
  } */

  /********* END Positioning Images CSS *********/



  /********* Word Bank (fixed) CSS *********/

/* #centerWordBankTitle {
    text-align: center;
}

#centerWordBankWords {
    text-align: center;
} */
 
/********* END Word Bank (fixed) CSS *********/



/* **************** */
/* BRIAN DA CSS LORD */
/* form.form-test {
    background-color: red;
}

label {
    background-color: blue;
}

input {
    border-radius: 10px;
} */
/* **************** */
