{% extends 'base.html' %} 
{% block content %}


  <body class="gradient3">

    <!-- This div styles and shapes the overall content on the page -->
    <div class="container-md" id="fullContentStyling">

      <h1 class="pageTitle">Sign Up</h1>
          <div class="container">

              
                <form method="post" action="{% url 'signup' %}">
                  {% csrf_token %} {{ form.as_p }}
                  <input type="submit" class="btn" value="Sign Up" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </form>

          </div>


      </div>
  </body>

{% endblock %}