{% extends 'base.html' %}
{% block title %}Create{% endblock %}

{% block content %}

<div class="list-group">
    <a href="create/beach" class="list-group-item list-group-item-action">A Day At The Beach</a>
    <a href="create/animals" class="list-group-item list-group-item-action">Animals</a>
    <a href="create/touch" class="list-group-item list-group-item-action">Touch, Tap, Pat</a>
    <a href="create/freewrite" class="list-group-item list-group-item-action">Free Write!</a>
</div>
 
{% endblock %}
   
