{% extends 'base.html' %}
{% load static %}
{% block title %}A Day At The Beach{% endblock %}

{% block content %}

    <body class="gradient3">

        <!-- This div styles and shapes the overall content on the page -->
        <div class="container-md" id="fullContentStyling">
            <h1 class="pageTitle">A Day At The Beach</h1>

            
            <!-- Create Poem Form -->
            <div class="container-md" id="formContainer">
                <div class="form-group">
                    <!-- class="form-control" took this out of the form tag, made it messy but why?  -->
                    <form method="post">
                        <!-- Security Feature  -->
                        {% csrf_token %} 
                        <!--  Generate inputs  -->
                        {{form.as_p}} 
                        <!-- {{form.PoemForm}}  -->
                        <!--  Submit form  -->
                        <button class="btn" id="buttonPlacement">Save your poem</button>
                        
                    </form>
                </div>
            </div>


            <div class="row">

                <div class="column">
                <img src="https://i.ibb.co/NY29Qk8/Sun.jpg" alt="Sun" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://i.ibb.co/pR5PKdg/Fish.jpg" alt="Fish" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://i.ibb.co/0G8ykvt/Play.jpg" alt="Play" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://i.ibb.co/ZhpGt1x/Sea.jpg" alt="Sea" style="width:100%">
                </div>

            </div>      

        <!-- Closing div for fullContentStyling -->
        </div>
    </body>
      
{% endblock %}