{% extends 'base.html' %}
{% load static %}
{% block title %}Free Write!{% endblock %}

{% block content %}

    <body class="gradient2"> 
    
        <!-- This div styles and shapes the overall content on the page -->
    <div class="container-md" id="fullContentStyling">

    <h1 class="pageTitle">Free Write!</h1>

    <!-- <div class="container-md" id="formContainer">
        
        <form method="post" action="{% url 'create_free_write' %}">{% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label" aria-label="What is your name?"></label>               
                <input type="text" class="form-control" id="name" placeholder="What is your name?" rows="1" name="name" required/>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label" aria-label="What is the title of your poem?"></label>
                <input type="text" class="form-control" id="title" placeholder="What is the title your poem?" rows="1" name="title"required/>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label" aria-label="Type your words here..."></label>

                <textarea class="form-control" id="textAreaBody" placeholder="Type your words here..." rows="8" name="body"required></textarea>
            </div>
            <div id="buttonPlacement">          
                <input type="submit" class="btn" value="Save your poem" text-decoration="bold" aria-label="Save your poem"/>
            </div> 
        </form>   -->
        
        <!-- Create Poem Form -->
        <div class="container-md" id="formContainer">
            <div class="form-group">
                <!-- class="form-control" took this out of the form tag, made it messy but why?  -->
                <form method="post">
                    <!-- Security Feature  -->
                    {% csrf_token %} 
                    <!--  Generate inputs  -->
                    {{form.as_p}} 
                    <!-- {{form.PoemForm}}  -->
                    <!--  Submit form  -->
                    <button class="btn" id="buttonPlacement">Save your poem</button>
                    
                </form>
            </div>
        </div>

    
    
    <!-- STATIC WORD BANK -->
    <!-- <div class="container-md">
        <div class="card">
            <div class="card-header">
                <h3 id="centerWordBankTitle">Word Bank</h3>
              </div>      
            <div class="card-body" id="">
              <blockquote class="blockquote mb-5">
                <h5 id="centerWordBankWords"> can, down, find, funny, once, open</h5> 
              </blockquote>
            </div>
        </div>
    </div> -->


    <!-- CAROUSEL WORD BANK -->
    <!-- <div class="container-sm" id="wordBankCarousel">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/NYcyyNW/Screen-Shot-2021-11-26-at-3-23-57-PM.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/ch8Z43c/Screen-Shot-2021-11-26-at-3-23-35-PM.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/2PqY8YT/Screen-Shot-2021-11-26-at-3-24-26-PM.png" class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div> -->


    <!-- Closing div for fullContentStyling -->
    </div>
</body>
{% endblock %}