{% extends 'base.html' %}
{% load static %}
{% block title %}Animals{% endblock %}

{% block content %}

    <body class="gradient2"> 
    
    <!-- This div styles and shapes the overall content on the page -->
        <div class="container-md" id="fullContentStyling">
            <h1 class="pageTitle">Animals</h1>


                <!-- Create Poem Form -->
            <div class="container-md" id="formContainer">
                <div class="form-group">
                    <!-- class="form-control" took this out of the form tag, made it messy but why?  -->
                    <form method="post">
                        <!-- Security Feature  -->
                        {% csrf_token %} 
                        <!--  Generate inputs  -->
                        {{form.as_p}} 
                        <!-- {{form.PoemForm}}  -->
                        <!--  Submit form  -->
                        <button class="btn" id="buttonPlacement">Save your poem</button>
                        
                    </form>
                </div>
            </div>





         <!-- Closing div for fullContentStyling -->
        </div>

    </body>

{% endblock %}