{% extends 'base.html' %}
{% load static %}
{% block title %}Animals{% endblock %}

{% block content %}

    <body class="gradient2"> 
    
    <!-- This div styles and shapes the overall content on the page -->
    <div class="container-md" id="fullContentStyling">
        <h1 class="pageTitle">Animals</h1>


            <!-- Create Poem Form -->
        <div class="container-md" id="formContainer">
            <div class="form-group">
                <!-- class="form-control" took this out of the form tag, made it messy but why?  -->
                <form method="post">
                    <!-- Security Feature  -->
                    {% csrf_token %} 
                    <!--  Generate inputs  -->
                    {{form.as_p}} 
                    <!-- {{form.PoemForm}}  -->
                    <!--  Submit form  -->
                    <button class="btn" id="buttonPlacement">Save your poem</button>
                    
                </form>
            </div>
        </div>


        <div class="row">

            <div class="column">
                <img src="https://i.ibb.co/34SC4tP/dog.jpg" alt="dog, a pug" style="width:100%">
            </div>
            <div class="column">
                <img src="https://i.ibb.co/5GMJN0g/bird.jpg" alt="bird" style="width:100%">
            </div>
            <div class="column">
                <img src="https://i.ibb.co/Ks3sQNM/frog.jpg" alt="frog" style="width:100%">
            </div>
            <div class="column">
                <img src="https://i.ibb.co/tQQBBWb/whale.jpg" alt="whale" style="width:100%">
            </div>
    
        </div>
        



         <!-- Closing div for fullContentStyling -->
        </div>

    </body>

    {% comment %} 
https://i.ibb.co/gTrh7Lv/bear.jpg
https://i.ibb.co/34SC4tP/dog.jpg
https://i.ibb.co/Jn8XWVQ/cat.jpg
https://i.ibb.co/Ks3sQNM/frog.jpg
https://i.ibb.co/5GMJN0g/bird.jpg
https://i.ibb.co/txKkFhH/lion.jpg
https://i.ibb.co/WgJh0WF/crab.jpg
https://i.ibb.co/tQQBBWb/whale.jpg
https://i.ibb.co/55xCsgT/sand.jpg
    {% endcomment %}
{% endblock %}