{% extends 'base.html' %}
{% load static %}
{% block title %}Free Write!{% endblock %}

{% block content %}

    <body class="gradient10"> 
    
        <!-- This div styles and shapes the overall content on the page -->
    <div class="container-md" id="fullContentStyling">

    <h1 class="pageTitle">Free Write!</h1>
        
        <!-- Create Poem Form -->
        <div class="container-md" id="formContainer">
            <div class="form-group">
                <!-- class="form-control" took this out of the form tag, made it messy but why?  -->
                <form method="post">
                    <!-- Security Feature  -->
                    {% csrf_token %} 
                    <!--  Generate inputs  -->
                    {{form.as_p}} 
                    <!-- {{form.PoemForm}}  -->
                    <!--  Submit form  -->
                    <button class="btn" id="buttonPlacement">Save your poem</button>
                    
                </form>
            </div>
        </div>

    
    
    <!-- STATIC WORD BANK -->
    <!-- <div class="container-md">
        <div class="card">
            <div class="card-header">
                <h3 id="centerWordBankTitle">Word Bank</h3>
              </div>      
            <div class="card-body" id="">
              <blockquote class="blockquote mb-5">
                <h5 id="centerWordBankWords"> can, down, find, funny, once, open</h5> 
              </blockquote>
            </div>
        </div>
    </div> -->


    <!-- CAROUSEL WORD BANK -->
    <div class="container-sm" id="wordBankCarousel">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/xL2bL5S/wordbank1.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/jbX24P6/Screen-Shot-2021-12-02-at-3-06-07-PM.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/rGcvJbF/wordbank3.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/q51wgwG/wordbank4.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item" data-bs-interval="1000000">
                    <img src="https://i.ibb.co/Dp0K9W1/wordbank5.png" class="d-block w-100" alt="...">
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>

        </div>
    </div>


    <!-- Closing div for fullContentStyling -->
    </div>

    {% comment %} 

        https://i.ibb.co/xL2bL5S/wordbank1.png
        https://i.ibb.co/jbX24P6/Screen-Shot-2021-12-02-at-3-06-07-PM.png
        https://i.ibb.co/rGcvJbF/wordbank3.png
        https://i.ibb.co/q51wgwG/wordbank4.png
        https://i.ibb.co/Dp0K9W1/wordbank5.png

    {% endcomment %}
</body>
{% endblock %}