<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dash</title> 
    </head>

<body>
        <h1>poems index</h1>

         <!-- List all student poems -->
    {% for poem in poems.all reversed %}
    <div class="poems">
        <div class="poem-title">
            {{poem.title}}
        </div>     
        <a class="poem-link" href="{% url 'poem_detail' user.id%}"><button>Student: {{poem.name}}</button></a> 
    {% endfor %}             
    </div>

</body>