{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block content %}
   
    <body class="gradient5"> 
    
    <!-- This div styles and shapes the overall content on the page -->
        <div class="container-md" id="fullContentStyling">

            <!-- Profile page greeting and links -->
        <div class="container-md" id="profilePageBox">
            <h1 class="profilePageTitle">Hello, {{user.username}}</h1>
                
                <div class="container-lg">
                    <a id="styleA" style="color: rgb(244, 52, 171)" href="{% url 'create_index' %}"><h3>student create portal</h3></a>
                </div>            
                <br>
                <div class="container-lg">
                        <a id="styleA" style="color: rgb(244, 52, 171)" href="{% url 'poems_index' %}"><h3>view all student work</h3></a>
                </div>
                <br>
                <div class="container-lg">
                    <a id="styleA" style="color: rgb(244, 52, 171)" href=""><h3>updates with Dash!</h3></a>
                </div>

        </div>    
            <!-- END profile page greeting and links -->

      
        
        
   
    </body>

{% endblock %}